.social-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.333em;
  padding: .2em .6em;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin-right: 1em;

  &:visited {
    color: white;
  }
}

.twitter {
  background: #1DA1F2;
}

.github {
  background:#24292e;
}

.social-link .social-img {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  margin-right: 1ch;
}