.post {
  & h1 {
    font-weight: 700;
  }
  
  & small {
    font-size: 1.333rem;
    color: gray;
    font-weight: 500;
    display: flex;
    align-self: center;

    & img {
      width: 1em;
      margin-right: .5ch;
    }
  }

  & hr {
    margin: 2em 0 6em;
  }

  & p {
    font-size: 1.777rem;
  }
}