.nav {
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 5rem;
  background: var(--background);
  border-bottom: 2px solid var(--color);

  & .container {
    display: flex;
    flex-direction: row;
  }

  & a,
  & a h1,
  & button {
    font-size: 1.777rem;
    font-weight: 700;
    background-color: inherit;
  }

  & a {
    padding: 1em 0;
  }

  & .toggle-container {
    margin: auto;
    width: 3rem;
    height: 2.4rem;
    border-radius: 25px;
    position: relative;
  }

  & .dark-active {
    background: var(--theme);

    & button {
      left: .8rem;
    }
  }

  & .light-active {
    background: lightgray;
  }

  & button {
    border: none;
    background-color: var(--color);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    font-size: 1.6rem;
    line-height: 1.2em;
    position: absolute;
    display: inline-block;
    top: .2rem;
    left: .2rem;
    transition: ease-out left .2s;
  }

  & .inactive, h1 {
    &:hover {
      color: var(--theme);
    }
  }

  & .inactive {
    &:hover::after {
      width: 100%;
      background: var(--theme);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 0%;
      background: var(--color);
      transition: width ease .3s;
    }
  }
  
  & .home, & .about, & .toggle-container {
    margin-left: 2em;
    position: relative;
  }

  & .header {
    flex: 1;
  }

  & .active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color);
    height: 2px;
    width: 100%;
  }
}