@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --gray: #808080;
  --theme: #0077ff;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.75;
  background: var(--background);
  color: var(--color);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body,
body[data-theme="dark"] {
  --color: #fff;
  --background: #000;

  .toggle-container {
    background: var(--theme);

    & button {
      left: .8rem;
    }
  }
}

// & .light-active {
//   background: lightgray;
// }

body[data-theme="light"] {
  --color: #000;
  --background: #fff;

  .toggle-container {
    background: var(--gray);

    & button {
      left: .2rem;
    }
  }
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

// h4 {
//   font-size: 1.777rem;
// }

// h5 {
//   font-size: 1.333rem;
// }

// small,
// .text_small {
//   font-size: 0.75rem;
// }

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.container {
  width: 95vw;
  max-width: 730px;
  margin: 0 auto;
}

@import 'about';
@import 'app';
@import 'article';
@import 'nav';
@import 'post';